import { Generated, Kysely, PostgresDialect } from 'kysely'
import { SqlCommenterPlugin } from 'kysely-sqlcommenter'

interface DB {
  person: {
    id: Generated<string>
    first_name: string
  }
}

const db = new Kysely<DB>({
  dialect: new PostgresDialect({
    pool: null as any,
  }),
  plugins: [new SqlCommenterPlugin().enableBuilder()],
})

console.log(
  db
    .selectFrom('person')
    .select(['id', 'first_name'])
    .where('id', '=', '1')
    .sqlCommenter({ controller: 'person', action: 'get' })
    .compile()
)
