import { Generated, Kysely, PostgresDialect } from 'kysely'
import {
  SqlCommenterPlugin,
  SqlCommentLike,
  sqlCommenter,
} from 'kysely-sqlcommenter'

interface DB {
  person: {
    id: Generated<string>
    first_name: string
  }
}

const comment: SqlCommentLike = { controller: 'person', action: 'get' }

const db = new Kysely<DB>({
  dialect: new PostgresDialect({
    pool: null as any,
  }),
  plugins: [new SqlCommenterPlugin(() => comment)],
})

const compiled = db
  .selectFrom('person')
  .select(['id', 'first_name'])
  .where('id', '=', '1')
  .compile()

const expected = `select "id", "first_name" from "person" where "id" = $1 /*action='get',controller='person'*/`

if (compiled.sql !== expected) {
  throw new Error(
    `Expected ${JSON.stringify(expected)}, received ${JSON.stringify(compiled.sql)}`
  )
}

console.log(compiled.sql)

const helperDb = new Kysely<DB>({
  dialect: new PostgresDialect({
    pool: null as any,
  }),
})

const helperCompiled = helperDb
  .selectFrom('person')
  .select(['id', 'first_name'])
  .$call((qb) => sqlCommenter(qb, comment))
  .compile()

const helperExpected = `select "id", "first_name" from "person" /*action='get',controller='person'*/`

if (helperCompiled.sql !== helperExpected) {
  throw new Error(
    `Expected ${JSON.stringify(helperExpected)}, received ${JSON.stringify(helperCompiled.sql)}`
  )
}

console.log(helperCompiled.sql)
